@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --violet: rgba(118, 108, 241, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--pale-blue);
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.bg-img {
  background-image: no-repeat center/cover;
  position: absolute;
  z-index: -1;
  margin-top: -490px;
}

.bg-img img {
  width: 1920px;
}

h1 {
  font-weight: 900;
  color: var(--dark-blue);
}

p {
  font-size: 16px;
  color: var(--desaturated-blue);
}

.card {
  background-color: white;
  text-align: center;
  display: block;
  margin: auto;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0px 15px 31px -5px rgba(118, 108, 241, 0.45);
  -webkit-box-shadow: 0px 15px 31px -5px rgba(118, 108, 241, 0.45);
  -moz-box-shadow: rgba(118, 108, 241, 0.45);
}

.card-items {
  margin: 20px;
  padding: 30px;
}

.hero-img {
  border-radius: 10px 10px 0 0;
}

.order-summary {
  margin-bottom: 30px;
}

.order-summary h1 {
  margin-bottom: 20px;
}

.plan-container {
  background-color: var(--very-pale-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

.plan-container a {
  color: var(--bright-blue);
  font-weight: 700;
}

.plan-container a:hover {
  color: var(--violet);
  text-decoration: none;
}

.annual-plan {
  display: flex;
  align-items: center;
}

.price {
  padding-left: 20px;
}

.annual-plan span {
  color: var(--dark-blue);
  font-weight: 900;
}

.button {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.payment {
  padding: 15px;
  background-color: var(--bright-blue);
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 14px 12px -5px rgba(118, 108, 241, 0.45);
  -webkit-box-shadow: 0px 14px 12px -5px rgba(118, 108, 241, 0.45);
  -moz-box-shadow: 0px 14px 12px -5px rgba(118, 108, 241, 0.45);
  transition: all 0.3s ease 0s;
}

.payment:hover {
  background-color: var(--violet);
  cursor: pointer;
}

.cancel {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: var(--desaturated-blue);
  border: none;
  margin-top: 20px;
  transition: all 0.3s ease 0s;
}

.cancel:hover {
  color: black;
}

.attribution {
  text-align: center;
  margin-bottom: 30px;
}
